.fcontainer{
display: flex;
border: 2px solid black;
height: 45vh;
/* flex-direction: column; */
/* flex-direction: column-reverse; */
/* flex-direction: row-reverse; */
/* justify-content: center; */
/* justify-content: flex-start; */
/* justify-content: flex-end; */
/* align-items: flex-end; */
/* align-items: center; */
/* justify-content: space-around; */
/* justify-content: space-between; */
/* flex-wrap: wrap; */
/* flex-wrap: wrap-reverse; */

}
.fitem{
    background-color: aquamarine;
    border: 2px solid black;
    margin: 10px;
    width: 122px;
    height: 122px;
}
.item1{
    order: 1;
    /* flex-grow: 2; */
    align-self: center;
}
.item3{
    order: 4;
    flex-grow: 4;
    flex-shrink: 3;
}