*{
    margin: 0;
    padding: 0;
}
body{
    background-image:url(/SIGNGFROM/bg-img.jpg) ;
    
}
.form{
    margin: 50px auto;
    max-width: 400px;
    border: 4px solid rgba(48, 29, 29, 0.349);
background-color: rgba(128, 128, 128, 0.466);
}

.header{
    background-color: aliceblue;
    text-align: center;
    
}
.form-body{
padding: 20px;

}
.label-title{
    float: left;
    margin: 2px;
    padding: 2px;
    clear: left;    
    color:rgb(243, 229, 192) ;
}
.input-title{
    margin: 2px;
    padding: 2px;
    background-color: rgba(155, 28, 81, 0.74);
color: burlywood;
}
#travling{
   margin-left: 63px;
}
button{
background-color: rgba(155, 28, 81, 0.74);
color: aqua;
}


.submit{
    text-align: center;
    color: aqua;
   

}